<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="callSettersOnNulls" value="true" />
	</settings>
	<typeAliases>
		<typeAlias alias="dMap" type="gnumall.common.util.DataMap" />
		<typeAlias alias="cMap" type="gnumall.common.util.CamelMap" />
	</typeAliases>

	<typeHandlers>
	</typeHandlers>

</configuration>